<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Pugazh's </title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="body-back"></div>
    <nav>
        <div class="rname">PUGAZH'S RESTAURANT</div>
        <div class="links">
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Log Out</a>
        </div>
    </nav>
   

    <div class="body">
        <div class="about">
            <h1>About Us</h1>
            <p>

                "Welcome to PUGAZH'S RESTAURANT" , where the passion for good food and warm hospitality comes together to create a truly unforgettable dining experience. Our story began with a simple idea: to bring people together through the joy of sharing delicious meals. Our team is dedicated to crafting menus that blend traditional flavors with modern twists, using only the freshest ingredients sourced locally whenever possible. From our signature dishes to our carefully curated wine list, every detail is designed to delight your senses and leave you feeling satisfied. Whether you're a foodie, a family, or just looking for a cozy spot to connect with friends, we invite you to join us at PUGAZH'S RESTAURANT. Come taste the difference that love and care can make. We can't wait to serve you!"
                
                </p>
        </div>
        <div class="motto">
            "LOVE IS OUR SERECT INGREDIENTS"
        </div>
        <div class="menus">
            <h1>MENU'S</h1>
            <h2>Starters</h2>
            <div class="dishes">
                
                <div class="dish">
                    <img src="/images/c65.jpeg" alt="">
                    <div class="detail">
                        <h3>Chicken 65</h3>
                        <p>Rs.125</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cm.jpeg" alt="">
                    <div class="detail">
                        <h3>Chicken Manchurian</h3>
                        <p>Rs.145</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cl.jpeg" alt="">
                    <div class="detail">
                        <h3>Chicken Lolipop</h3>
                        <p>Rs.165</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/mc.jpeg" alt="">
                    <div class="detail">
                        <h3>Mushroom chilli</h3>
                        <p>Rs.125</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/mm.jpeg" alt="">
                    <div class="detail">
                        <h3>Mushroom Manchurian</h3>
                        <p>Rs.145</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/pc.jpeg" alt="">
                    <div class="detail">
                        <h3>Paneer chilli</h3>
                        <p>Rs.125</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/pm.jpeg" alt="">
                    <div class="detail">
                        <h3>Paneer manchurian</h3>
                        <p>Rs.145</p>
                    </div>
                </div>
            </div>
            <h2>Main</h2>
            <div class="dishes">
                <div class="dish">
                    <img src="/images/vfr.jpeg" alt="">
                    <div class="detail">
                        <h3>Veg Fried Rice</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/mfr.jpeg" alt="">
                    <div class="detail">
                        <h3>MushroomFried Rice</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/pfr.jpeg" alt="">
                    <div class="detail">
                        <h3>Paneer Fried Rice</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/vn.jpeg" alt="">
                    <div class="detail">
                        <h3>Veg Noodles</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/mn.jpeg" alt="">
                    <div class="detail">
                        <h3>Mushroom Noodles</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/pn.jpeg" alt="">
                    <div class="detail">
                        <h3>Paneer Noodles</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/efr.jpeg" alt="">
                    <div class="detail">
                        <h3>Egg Fried Rice</h3>
                        <p>Rs.165</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cfr.jpeg" alt="">
                    <div class="detail">
                        <h3>Chicken Fried Rice</h3>
                        <p>Rs.175</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/en.jpeg" alt="">
                    <div class="detail">
                        <h3>Egg Noodles</h3>
                        <p>Rs.165</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cn.jpeg" alt="">
                    <div class="detail">
                        <h3>Chicken Noodles</h3>
                        <p>Rs.175</p>
                    </div>
                </div>
            </div>
            <h2>Wraps</h2>
            <div class="dishes">
                <div class="dish">
                    <img src="/images/cvw.jpeg" alt="">
                    <div class="detail">
                        <h3>Classic Veg Wraps</h3>
                        <p>Rs.134</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/emw.jpeg" alt="">
                    <div class="detail">
                        <h3>Egg Mayo Wrap</h3>
                        <p>Rs.144</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/spw.webp" alt="">
                    <div class="detail">
                        <h3>Spicy Paneer Wrap</h3>
                        <p>Rs.154</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/scw.jpeg" alt="">
                    <div class="detail">
                        <h3>Smoky Chicken Wrap</h3>
                        <p>Rs.154</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/bcw.jpeg" alt="">
                    <div class="detail">
                        <h3>Barbique Chicken Wrap</h3>
                        <p>Rs.174</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/fcw.jpeg" alt="">
                    <div class="detail">
                        <h3>Fried Chicken Wrap</h3>
                        <p>Rs.174</p>
                    </div>
                </div>
            </div>
            <h2>Burgers</h2>
            <div class="dishes">
                <div class="dish">
                    <img src="/images/cvb.jpeg" alt="">
                    <div class="detail">
                        <h3>Crispy Veg Burger</h3>
                        <p>Rs.135</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cpb.jpeg" alt="">
                    <div class="detail">
                        <h3>Crispy Paneer Burger</h3>
                        <p>Rs.145</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/ccb.jpeg" alt="">
                    <div class="detail">
                        <h3>Classic Chicken Burger</h3>
                        <p>Rs.145</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/scb.jpeg" alt="">
                    <div class="detail">
                        <h3>Sharwarma Chicken Burger</h3>
                        <p>Rs.165</p>
                    </div>
                </div>
            </div>
            <h2>Desserts</h2>
            <div class="dishes">
                <div class="dish">
                    <img src="/images/bi.jpeg" alt="">
                    <div class="detail">
                        <h3>Brownie with Ice cream</h3>
                        <p>Rs.134</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/os.jpeg" alt="">
                    <div class="detail">
                        <h3>Oreo Sundae</h3>
                        <p>Rs.154</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/ks.jpeg" alt="">
                    <div class="detail">
                        <h3>Kitkat Sundae</h3>
                        <p>Rs.164</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/bs.jpeg" alt="">
                    <div class="detail">
                        <h3>Brownie Sundae</h3>
                        <p>Rs.174</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/dc.jpeg" alt="">
                    <div class="detail">
                        <h3>Death by Chocolate</h3>
                        <p>Rs.184</p>
                    </div>
                </div>
            </div>
            <h2>Drinks</h2>
            <div class="dishes">
                <div class="dish">
                    <img src="/images/vs.jpeg" alt="">
                    <div class="detail">
                        <h3>Vanilla Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cs.jpeg" alt="">
                    <div class="detail">
                        <h3>Chocolate Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/ss.jpeg" alt="">
                    <div class="detail">
                        <h3>Strawberry Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/ps.jpg" alt="">
                    <div class="detail">
                        <h3>Pineapple Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/bcs.jpeg" alt="">
                    <div class="detail">
                        <h3>Black Current Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/bhs.jpeg" alt="">
                    <div class="detail">
                        <h3>Butter Scotch Shake</h3>
                        <p>Rs.124</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/cc.jpeg" alt="">
                    <div class="detail">
                        <h3>Cold Coffee</h3>
                        <p>Rs.134</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/lmm.jpeg" alt="">
                    <div class="detail">
                        <h3>Lime Mint Mojito</h3>
                        <p>Rs.105</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/bcm.jpeg" alt="">
                    <div class="detail">
                        <h3>Blue Curacao Mojito</h3>
                        <p>Rs.105</p>
                    </div>
                </div>
                <div class="dish">
                    <img src="/images/gam.jpeg" alt="">
                    <div class="detail">
                        <h3>Green Apple Mojito</h3>
                        <p>Rs.105</p>
                    </div>
                </div>
            </div>
            <h2>Locations</h2>
            <div class="branches">
                <div class="branch">
                    <p>No.4 ,TVS Bus Stop,<br>
                        Omalur Main Rd,<br>
                        Near New Bus Stand,<br>
                        Salem,Tamil Nadu-636 009.
                    </p>
                </div>
                <div class="branch">No.15, 
                    Junction Main Rd,<br>
                    Near Sona College,<br>
                    Salem, Tamil Nadu-636 005.
                </div>
                <div class="branch">
                    No.18, Anna Salai,<br>
                    Opp.Kamatchi Amman Kovil,<br>
                    Ramamoorthy Nagar,<br>
                    Rasipuram, Tamil Nadu-637 408.
                </div>
            </div>
            <footer>
                <h1>PUGAZH'S RESTAURANT</h1>
                <H4>Love is our Secret Ingredients</H4>
                <p>@2024 pugazhs_restaurant.com</p>
            </footer>
        </div>
     </div>
</body>
</html>