<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pugazh's</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="body"></div>
    <nav>
        <div class="head">Pugazh's Restaurant</div>
        <div class="links">
        <a href="/">Log In</a>
        <a href="/signup">Sign Up</a>
        </div>
    </nav>

    <div class="container">
        <form action="/auth/login" method="post">
            <div class="headlog">Log in</div>
            {{#if msg}}
            <p class="{{msg_type}}">{{msg}}</p>
            {{/if}}
            <div class="inp">
            <label for="Email">Email</label>
            <input type="email" name="Email" id="mail">
            </div>
            <div class="inp">
                <label for="Password">Password</label>
                <input type="password" name="Password" id="pass">
            </div>
            <div class="btn">
                <button class="login" type="submit">LOG IN</button>
            </div>
        </form>
        <div class="login">Not a Member? <a href="/signup">Sign Up</a></div>
    </div>

</body>
</html>