<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Pugazh's </title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
        <div class="rname">PUGAZH'S RESTAURANT</div>
        <div class="links">
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Log Out</a>
        </div>
    </nav>
    <div class="pro">
        <div class="contain">
            <h1>User Profile</h1>
            <img src="/images/Default.png" alt="">
            <h3>Name: {{user.FULLNAME}}</h3>
            <h4>Email: {{user.EMAIL}}</h4>
        </div>
    </div>
</body>
</html>